spring.datasource.driver-class-name = com.mysql.cj.jdbc.Driver
spring.datasource.url = jdbc:mysql://<<SERVER_IP_HERE>>:3306/<<YOUR_SCHEMA_HERE>>
spring.datasource.username = <<USERNAME>>
spring.datasource.password = <<PASSWORD>>
spring.jpa.hibernate.ddl-auto = update
spring.jpa.show-sql = true
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect
spring.jpa.properties.format_sql = true